.fa-plus-circle {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 3px 20px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0);
}