---
title: Transactions
---

<main class="page">
    <header class="page-header">
        <div class="toggle-buttons">
            <button class="toggle-buttons__button">Vše</button>
            <button class="toggle-buttons__button">Příjmy</button>
            <button class="toggle-buttons__button">Výdaje</button>
        </div>
        <a class="button button--primary" href="/overview.html">
            <i class="fas fa-chart-bar"></i>
            Overview
        </a>
    </header>
    <main class="page-main">
        {{> transaction-list}}
    </main>
    <footer class="page-footer">
        <a class="button button--primary" href="#">
            Přidat novou transakci
        </a>
    </footer>
</main>