---
title: Transactions
---

<main class="page">
  <a href="/overview.html">
    <i class="fas fa-chart-bar"></i>
    Overview
  </a>
  {{> btn-delete}}
  {{> btn-edit}}
  {{> btn-toggle}}
  {{> input-text}}
  {{> input-date}}
  {{> input-number}}
  {{> table}}
  {{> total-balance}}
  {{!-- {{> transaction-list}} --}}

</main>