---
title: Transactions
---

<main class="page">
<button class="toggle-button">
  <a href="/overview.html">
    <i class="fas fa-chart-bar"></i>
    Přehled
  </a>
</button>
<button class="toggle-button active">
  <a href="/index.html">
    <i class="fas fa-chart-bar"></i>
    Transakce
  </a>
</button>
  <!-- komponenta popisek -->
  {{> transaction-title}}
  <!-- komponenta transakce -->
  {{> transaction-list}}
  <!-- komponenta tlacitka -->
  {{> toggle-button}}
  <!-- komponenta pridat tlacitko -->
   {{> toggle-button-add}}  
</main>