<main class="page">
  <header>
      {{> menu}}
      <div class="balance-overview">
        <span>Total Balance</span>
        <span class="balance-value">+ 28 300 CZK</span>
      </div>
      {{> filter-button}}
  </header>
  <section class="page-section">
    {{> transaction-list}}
  </section>
  <footer>
    {{> create-button}}
  </footer>
</main>

{{#> modal name="modal-transaction" id="modalT"}}
  <div class="modal-inside">
  <div class="form-item">
    <label>Name</label>
    <input class="modal-input trans-name" type="text>">
  </div>
  <div class="form-item"> 
    <label>Value</label>
    <input class="modal-input trans-value" type="number">
  </div>
  <div class="form-item">
    <label>Date created</label>
    <input class="modal-input trans-date" type="datetime-local">
  </div>
  <div class="form-item">
    <span>Type</span>
    <select class="trans-type">
      <option value="Income">Income</option>
      <option value="Expense">Expense</option>
    </select>
  </div>
  <div class="modal-btns">
    <button class="edit-button save-button">Save</button>
    <button class="close-button"  data-toggle="#modal-transaction" data-modal><i class="fas fa-window-close"></i></button>
  </div>
  </div>
{{/modal}}

{{#> modal name="modal-delete" }}
  <div class="modal-inside">
    <div class="delete-text">Do you really wish to delete this transaction?</div>
    <div class="delete-btns">
      <button class="yes">Yes</button>
      <button class="close-button"  data-toggle="#modal-delete" data-modal>No</button>
    </div>
  </div>
{{/modal}}

