<main class="page">
  <header>
      {{> menu}}
      {{> filter-button}}
  </header>
  <section class = "page-section">
    {{> transaction-list}}
  </section>
  <footer>
    {{> create-button}}
  </footer>
</main>