---
title: Transactions
---

<main class="page">
  {{> controls}}
  <div class="content">
    {{> transaction-list}}
  </div>
  {{!-- {{> btn-delete}}
  {{> btn-edit}}
  {{> btn-toggle}}
  {{> input-text}}
  {{> input-date}}
  {{> input-number}}
  {{> total-balance}} --}}
  {{!-- {{> transaction-list}} --}}

</main>