---
title: Transactions
---

<main class="page">
    <header class="page-header">
        <div class="toggle-buttons">
            <button class="toggle-buttons__button">Vše</button>
            <button class="toggle-buttons__button">Příjmy</button>
            <button class="toggle-buttons__button">Výdaje</button>
        </div>
        <a class="button button--primary" href="/overview.html">
            <i class="fas fa-chart-bar"></i>
            Overview
        </a>
    </header>
    <main class="page-main">
        <div class="container">
            <div class="wallet">

                <h2>Útrata CZK:</h2>
                <div class="spent-czk-box"></div>
                <h2>Útrata EUR:</h2>
                <div class="spent-eur-box"></div>

                <hr>

                <h2>Všechny položky</h2>
                <ul class="payments-list"></ul>
            </div>
        </div>




    </main>
    <footer class="page-footer">
        <a class="button button--primary" href="#">
            Přidat novou transakci
        </a>
    </footer>
</main>

<div class="wallet">
    <h2>Útrata CZK:</h2>
    <div class="spent-czk-box"></div>
    <h2>Útrata EUR:</h2>
    <div class="spent-eur-box"></div>

    <hr>

    <h2>Všechny položky</h2>
    <ul class="payments-list"></ul>
</div>