---
title: Transactions
---

<main class="page">
  <div class="controls">
    {{> btn-toggle}}
  <a href="/overview.html" class="btn btn-icon">
    <i class="fas fa-chart-bar"></i>
    Overview
  </a>
  </div>
  
  <div class="content">
    {{> transaction-list}}
  </div>
  {{!-- {{> btn-delete}}
  {{> btn-edit}}
  {{> btn-toggle}}
  {{> input-text}}
  {{> input-date}}
  {{> input-number}}
  {{> total-balance}} --}}
  {{!-- {{> transaction-list}} --}}

</main>