---
title: Transactions
---

<main class="page">
  {{> controls}}
  <div class="content">
    {{> transaction-list}}
  </div>
  {{!-- {{> btn-delete}}
  {{> btn-edit}}
  {{> btn-toggle}}
  {{> input-text}}
  {{> input-date}}
  {{> input-number}}
  {{> total-balance}} --}}
  {{!-- {{> transaction-list}} --}}
  <footer class="page-footer">
    <button type="button" class="btn btn-icon--right btn-100">
      Add new transaction
      <i class="fas fa-plus"></i>  
    </button>
  </footer>
</main>