---
title: Transactions
---

<main class="page">
  {{> controls}}
  <div class="content">
    {{> transaction-list}}
  </div>
  {{!-- {{> btn-delete}}
  {{> btn-edit}}
  {{> btn-toggle}}
  {{> input-text}}
  {{> input-date}}
  {{> input-number}}
  {{> total-balance}} --}}
  {{!-- {{> transaction-list}} --}}
  <footer class="page-footer">
    <button type="button" class="btn btn-icon--right btn-100">
      Add new transaction
      <i class="fas fa-plus"></i>  
    </button>
  </footer>
</main>

<div class="modal-container">
  <h2>Transaction</h2>
  <form>
    <div class="form-row">
      <input type="text" class="transaction-name" placeholder=" " />
      <label>Name</label>
    </div>
    <div class="form-row">
      <input type="number" class="transaction-amount" placeholder=" " />
      <label>Value</label>
    </div>
    <div class="form-row">
      <input type="date" class="transaction-date" placeholder=" " />
      <label>Date</label>
    </div>
  </form>
  <button type="submit" class="btn btn-delete">Cancel</button>
  <button type="submit" class="btn-save">Save</button>
</div>
