---
title: Overview
---

<main class="page">
  <div class="controls">
     {{> btn-toggle }}
  </div>

  <div class="content">
    {{> filter-months }}
    {{> transaction-overview }}
  </div>
  <a href="/">
    <i class="fas fa-arrow-left"></i>
    Back to transactions
  </a>
</main>