<div class="btn-edit">
    <button type="button">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <path d="M100,80.488c0,2.229-0.799,4.162-2.354,5.719L86.187,97.645c-1.557,1.599-3.47,2.355-5.72,2.355s-4.142-0.757-5.719-2.355L50,72.918L25.253,97.645c-1.577,1.599-3.47,2.355-5.72,2.355s-4.163-0.757-5.719-2.355L2.354,86.207C0.778,84.65,0,82.717,0,80.488s0.778-4.164,2.354-5.72L27.103,50L2.354,25.273C0.778,23.717,0,21.783,0,19.554c0-2.271,0.778-4.163,2.354-5.719l11.46-11.48C15.37,0.799,17.283,0,19.533,0s4.143,0.799,5.72,2.355L50,27.124L74.748,2.355C76.325,0.799,78.217,0,80.467,0s4.163,0.799,5.72,2.355l11.459,11.48c1.556,1.556,2.354,3.448,2.354,5.719c0,2.229-0.799,4.163-2.354,5.719L72.897,50l24.748,24.769C99.201,76.324,100,78.26,100,80.488z"></path>
        </svg>
    </button>
</div>