<div class="btn-toggle">
    <button type="button" class="toggle is-active">All</button>
    <button type="button" class="toggle">In</button>
    <button type="button" class="toggle">Out</button>
</div>