<div class="controls">
    <div class="btn-toggle">
        <button class="btn is-active">In</button>
        <button class="btn">Out</button>
        <button class="btn">All</button>
    </div>
    <a href="/overview.html" class="btn btn-icon">
        <i class="fas fa-chart-bar"></i>
    </a>
</div>