<div class = "button-div">
    <button type = "button" class = "horizontal-button">All</button>
    <button type = "button" class = "horizontal-button">Income</button>
    <button type = "button" class = "horizontal-button">Outcome</button>
</div>