<form>
  name:<br>
  <input type="text" name="name" value="name of transaction">
  <br>
  date:<br>
  <input type="text" name="date" value="hh:mm dd.mm.yyyy">
  <br><br>
   date:<br>
  <input type="text" name="value" value="value">
  <br><br>
  
  
<select name="type">
  <option value="expense">expense</option>
  <option value="income">income</option>
</select>  <br><br>
  
  <input class="button-add" type="submit" value="Submit">
</form> 