<div class="menu row">
    <div class="menu-column {{#ifpage 'index.hbs'}}active-link{{/ifpage}}"><a href="/index.html">Transactions</a></div>
    <div class="menu-column {{#ifpage 'overview.hbs'}}active-link{{/ifpage}}"><a href="/overview.html">Overview</a></div>
</div>
