
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 dual-collapse2">

    </div>
    <div class="order-1 mx-auto">
        <a class="navbar-brand mx-auto font-weight-bold  text-light" href="/">eWallet</a>
    </div>

    <div class="order-0">
        <button class="navbar-toggler hamburger-position" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-light" href="/overview.html">Overview</a>
            </li>
        </ul>
    </div>
</nav>