<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul>
      <p>Income:</p>
    </ul>
     <ul>
      <p>Expenses:</p>
    </ul>
     <ul>
      <p>Total:</p>
    </ul>
</nav>