<div class="button-div">
    <button type = "button" class="horizontal-button">Monthly</button>
    <button type = "button" class="horizontal-button">Yearly</button>
    <button type = "button" class="horizontal-button">Daily</button>
</div>