<div>
<div class="overview-text">
    <div>Income</div> 
    <div class="income">+{{ overview.income }} CZK</div>
</div>
<div class="overview-text">
    <div>Expenses</div>
    <div class="expense">-{{ overview.expenses }} CZK</div>
</div>
<div class="overview-text">
    <div>Total Balance</div> 
    <div class="income">+{{ overview.total }} CZK</div>
</div>
</div>