<select name="month" id="month">
  {{#each months as |monthData|}}
    <option value="">{{ monthData }}</option>
  {{/each}}    
</select>
<select name="year" id="year">
    <option value="">2017</option>
    <option value="">2018</option>
</select>