<table class="table-expand">
    <thead>
        <tr class="table-expand-row">
            <th width="200">Date</th>
            <th>Name</th>
            <th class="text-right" width="150">Amount</th>
            <th width="150">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-expand-row" data-toggle>
            <td>August 15</td>
            <td>2 items</td>
            <td class="text-right">$0.50</td>
            <td>in progress
                <span class="expand-icon"></span>
            </td>
        </tr>

        <tr class="table-expand-row-content">
            <td colspan="8" class="table-expand-row-nested">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci
                    facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
            </td>
        </tr>

    </tbody>
</table>