<div class="toggle-button">
    <button class="toggle-button-item">Denní</button>
    <button class="toggle-button-item">Měsíční</button>
    <button class="toggle-button-item">Vše</button>    
</div>