<div class="transaction-detail">
    <div class="transaction-info">
        <span>{{ created }}</span>
        <span>{{ type }}</span>
    </div>
    <div class="transaction-btns">
        {{> btn-edit}}
        {{> btn-delete}}
    </div>
</div>