<ul class="transaction-list">
  {{#each transactions as |transactionData|}}
    {{> transaction data=transactionData}}
  {{/each}}
</ul>
<button type="button" class="btn btn-outline-success">
    <span class="glyphicon glyphicon-plus"></span> Add transaction
</button>