<div class="trans-column">
    <button type="button" class="edit-button" data-toggle="#modal-transaction" data-modal><i class="fas fa-pencil-alt"></i></button>
    <button type="button"  class="delete-button" data-toggle="#modal-delete" data-modal><i class="far fa-trash-alt"></i></button>
</div>