<h1 class="main-title">Přehled transakcí</h1>

<div class="transaction-type">
    <button class="type-button">VŠE</button>
    <button class="type-button">PŘÍJMY</button>
    <button class="type-button">VÝDAJE</button>
</div>