<div class="transaction-detail">
    <div class="transaction-info">
        <span>{{ dateFormat created }}</span>
    </div>
    <div class="transaction-btns">
        <button type="button" class="btn btn-edit">
            <i class="fas fa-pencil-alt"></i>
        </button>
        <button type="button" class="btn btn-delete">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</div>