<div class = "trans-column">
    <button type = "button" class="edit-button"><i class="fas fa-pencil-alt"></i></button>
    <button type = "button"  class="delete-button"><i class="far fa-trash-alt"></i></button>
</div>