<div class="trans-column" id="knofle">
    <button type="button" class="edit-button edit-btn" data-toggle="#modal-transaction-e" data-modal><i class="fas fa-pencil-alt"></i></button>
    <button type="button"  class="delete-button" data-toggle="#modal-delete" data-modal><i class="far fa-trash-alt"></i></button>
</div>