<li class="transaction">
  <div class="transaction-name"><b>name: {{ name }}</b></div>
  <div class="transaction-created">date: {{ dateFormat created }}</div>
  <div class="transaction-value">value: {{ value }} CZK </div>
  <div class="transaction-type">type: {{ type }}</div>
</li>