<li class="transaction-list__item">
  <div class="transaction-name">{{ name }}</div>
  <div class="transaction-created">{{ dateFormat created }}</div>
  <div class="transaction-value">{{ value }}</div>
  <a href="#" class="btn--edit">edit</a>
</li>