<li class="transaction transaction--{{ type }}">
  <div class="transaction-name">{{ name }}</div>
  <div class="transaction-value">{{ value }}</div>
  <div class="transaction-created">{{ dateFormat created }}</div>
</li>