<div class="transaction-row">
    <span class="transaction-name">{{ name }}</span>
    <div class="transaction-value">
        <span class="value">{{ value }}</span>
        <span class="currency">CZK</span>
    </div>
</div>