---
title: Overview
---

<main class="page">
  <header class="page-header">
    <div class="header-controls">
      {{> toggle-overview }}
    </div>
  </header>
  <section class="app-section">
    {{> select-month }} {{> transaction-overview }}
  </section>
  <footer class="page-footer">
    <a href="/" class="btn btn-back">
      <i class="fas fa-arrow-left"></i>
      Transakce
    </a>
  </footer>
</main>