// box-sizing inheritance
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
  background-image: linear-gradient( 135deg, #FAB2FF 10%, #1904E5 100%);
	background-repeat: no-repeat;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// base body style
body {
  background-color: $base-bg;
  font-family: $base-font;
  font-size: $base-font-size;
  color: rgba(0, 0, 0, 0.98);
}

// remove outlines - no keyboard on mobile
* {
  outline: none;
}