// #######################
// ####### FILTR #########
// #######################

#filtr {
    border: black;
    text-align: center;

    .filtr {
        display: inline-block;
        width: 32%;
        margin: 0;
        padding: 0;
    }
}