// #############################
// ####### SELECT MONTH ########
// #############################

.months-controls {
  display: flex;
  justify-content: space-between;
  max-width: 205px;
  width: 100%;
  margin: 0 auto;
}
.select-month {
  text-align: center;

  .input {
    max-width: 150px;
  }

  label {
    & + select {
      margin-left: 10px;
    }

    @include bp-min(320px) {
      display: none; 
    }
  }
}
