.toggle-buttons{
  display: flex;

  & + *{
    margin-left: 10px;
  }
}

.toggle-buttons__button{
  flex: 1;
  background: #5d747b;
  color: #fff;
  padding: 10px 15px;
  border: 0;

  &:hover{
    background: darken(#5d747b, 10%);
  }
}