// #################################
// ####### TRANSACTION LIST ########
// #################################

.transaction-list {
//  margin-top: 120px;
  padding: 0;
  list-style-type: none;

  .transaction {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}