// ############################
// ####### TRANSACTION ########
// ############################

.transaction {
  padding: 5px;
  margin: 15px 0px;
  border: 1px #0a0a0a solid;
  background-color: #FFFFFF;

  .transaction-created {
    font-size: 14px;
    color: #ababab
  }
}