// #################################
// ####### TRANSACTION LIST ########
// #################################

.transaction-list {
  margin: 0;
  padding: 0 15px 15px 15px;
  width: 100%;
  height: 50vh;
  overflow: scroll;
  background-color: #1d3e81;
  list-style-type: none;

  .transaction {
    margin-bottom: 6px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}