.modal-transaction {
    background-color: rgba(0, 0, 0, .7)
}

.modal-content {
    border-radius: 0px;
    margin: 120px 10px;
}

.modal-content h2 {
    text-align: center;
}

.input-label {
    padding-left: 30px;
}

.form-row {
    padding: 5px 0;
}