.main-overview, .graph-overview {
    background-color: white;
    margin: 20px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px 2px rgba(119, 119, 119, 0.27);
}

#current-balance {
    font-size: 4.7rem;
    padding-top: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 8px 12px rgba(0,0,0,0.2),
                0px -5px 35px rgba(255,255,255,0.3);
}