// #####################
// ####### PAGE ########
// #####################
.page {
    margin: 0 auto;
    padding: 20px;
    max-width: 620px;
    .header-controls {
        max-width: 220px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .app-section {
        height: calc(100vh - (150px));
        overflow-y: auto;
    }
}