// #####################
// ####### PAGE ########
// #####################
.page {
    margin: 0 auto;
    padding: 20px;
    max-width: 620px;
    .header-controls {
        max-width: 220px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .app-section {
        height: calc(100vh - (150px));
        overflow-y: auto;
    }
    .page-footer {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        .btn-back {
            background-color: $btn-txt-icon;
            color: $btn-txt;
            text-decoration: none;
            border-radius: 8px;
            padding: .5rem;
        }
    }
}