// #####################
// ####### PAGE ########
// #####################
.page {
    margin: 0 auto;
    padding: 20px;
    max-width: 620px;
    .header-controls {
        max-width: 210px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
}