.time-period-selection {
    margin: auto;
    letter-spacing: 1px;
    border-radius: 20px;
    background-image: $btn-gradient;
    color: white;
    width: auto;
    text-shadow: 1px 3px 20px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0);
}

.time-period-text {
    font-size: 0.9rem;
    margin-top: 0;
    -webkit-margin-after: 8px;
}

.btn, .dropdown-menu {
    font-size: 16px;
}

.btn:hover {
    color: white;
}

.dropdown-menu li a {
    padding: 8px 20px;
    text-align: center;
}