.toggle-button {
    text-transform: uppercase;
    background-color: $btn-bg;
    color: $btn-txt;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: .5rem;
    text-align: center;
    text-decoration: none;
}

.is-active {
    background-color: $btn-txt;
    color: $btn-bg;
}

.toggle-button-add {
    margin: 1rem auto;
    height: 50px;
    width: 50px;
    font-size: 2rem;
    background-color: $btn-txt-icon;
}

.transaction-add {
    display: flex;
    justify-content: center;
}

.transaction-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0;
    .toggle-button-item {
        flex: 1 1 auto;
        margin: 0 .5rem .5rem 0;
    }
}

.toggle-icon {
    text-align: center;
    background-color: $btn-txt-icon;
    border-radius: 8px;
}