.transaction-type {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 1.3px solid black;
    border-radius: 20px;
    background-image: $btn-gradient;
    color: white;
}

.type-button {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    width: 33.3%;
    text-shadow: 2px 6px 20px rgba(0,0,0,0.2),
    0px -5px 35px rgba(255,255,255,0);
}

a:hover {
    color: black;
    text-decoration: none;
    border-radius: 20px;
    background-color: white;
}