// ############################
// ####### TRANSACTION ########
// ############################
.transaction {
    padding: 1rem 0 1rem .5rem;
    margin-bottom: 6px;
    background-color: $btn-txt;
    border-radius: 4px;
    color: $btn-bg;
    li {
        padding: 1rem 0;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    .transaction-info {
        display: flex;
        padding: 0 .5rem;
        .transaction-name {
            flex: 2 1 auto;
        }
        .transaction-value {
            flex: 0 1 auto;
        }
        .value-currency {
            padding-left: .3rem;
        }
    }
    .transaction-detail {
        display: flex;
        padding: .5rem 0 0 .5rem;
    }
}