// ############################
// ####### TRANSACTION ########
// ############################
.transaction {
    padding: 1rem 0 1rem .5rem;
    margin-bottom: 6px;
    background-color: $btn-txt;
    border-radius: 4px;
    color: $main-txt;
    li {
        padding: 1rem 0;
    }
    &:last-of-type {
        margin-bottom: 0;
    }
    .transaction-info {
        display: flex;
        padding: 0 .5rem;
        .transaction-name {
            flex: 2 1 auto;
        }
        .transaction-value {
            flex: 0 1 auto;
            font-weight: 700;
            .value--positive {
                color: #73A05C;
            }
            .value--negative {
                color: #BC5757;
            }
        }
        .value-currency {
            padding-left: .3rem;
            font-size: .8rem;
        }
    }
    .transaction-detail {
        display: flex;
        padding: .5rem 0 0 .5rem;
    }
}