// #################################
// ####### TRANSACTION LIST ########
// #################################

.transaction-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: calc(100vh - (70px + 80px));
  overflow: scroll;

  .transaction {
    margin-bottom: 6px;
    border-bottom: solid black 1px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.transaction-name {
  font-size: 2.7rem;
}

.transaction-value {
  text-align: right;
  font-size: 2.7rem;
}

.transaction-created {
  font-size: 1.5rem;
}