---
title: Transactions
---

<main class="page">
  <header class="page-header">
      <div class="header-controls">
        {{> toggle-transactions}}
        <a href="/overview.html" class="btn btn--icon">
          <i class="fas fa-chart-bar"></i>
        </a>
      </div>
  </header>
  <section class="page-content">
    {{> transaction-list}}
  </section>
  <footer class="page-footer">
    <button type="button" class="btn btn--block icon--right" data-toggle="#modal-transaction" data-modal>
      Add new
      <i class="fas fa-plus"></i>
    </button>
  </footer>
</main>

{{#> modal name="modal-transaction" }}
  <h2>Transaction</h2>
  <div class="form-row">
    <label class="input-label">Name</label>
    <input type="text" class="input transaction-name">
  </div>
  <div class="form-row">
    <label class="input-label">Value</label>
    <input type="number" class="input transaction-date">
  </div>
  <div class="form-row">
    <label class="input-label">Date</label>
    <input type="datetime-local" class="input transaction-date">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn--danger" data-toggle="#modal-transaction" data-modal>Cancel</button>
    <button type="button" class="btn">Save</button>
  </div>
{{/modal}}

{{#> modal name="modal-transaction-delete" }}
  <p>Are you sure?</p>
  <div class="modal-footer">
    <button type="button" class="btn" data-toggle="#modal-transaction-delete" data-modal>Cancel</button>
    <button type="button" class="btn btn--danger">Delete</button>
  </div>
{{/modal}}