---
title: Overview
---

<main class="page">
  <header class="page-header">
      <div class="header-controls">
        {{> toggle-overview }}
      </div>
  </header>
  <section class="page-content">
    {{> select-month }}
    {{> transaction-overview }}
  </section>
  <footer class="page-footer">
    <a href="/" class="btn btn--block icon--left">
      <i class="fas fa-arrow-left"></i>
      Back to transactions
    </a>
  </footer>
</main>