// box-sizing inheritance
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// base body style
body {
  background-color: $base-bg;
  font-family: $base-font;
  font-size: $base-font-size;
  color: $base-text;
  margin: 0;
  padding: 0;
}

// remove outlines - no keyboard on mobile
* {
  outline: none;
}