// http://necolas.github.io/normalize.css/
@import "normalize";

@import "settings";
@import "mixins";
@import "base";

// components
@import "components/page";
@import "components/transaction";
@import "components/transaction-list";

.main-title {
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10%;
}

.transaction-type {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    width: 100%;
}

.type-button {
    border-right: black solid 1px;
    border-left: black solid 1px;
    width: 33.3%;
}

.transaction {
    border-bottom: solid black 1px;
}

.transaction-name {
    font-size: 1.7rem;
}

.transaction-value {
    text-align: right;
    font-size: 1.7rem;
}

.transaction-created {
    font-size: 0.7rem;
}

#new-transaction {
    font-size: 5rem;
}