// box-sizing inheritance
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// base body style
body {
  background-color: #F5F1E9;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  color: #333333;
}

// remove outlines - no keyboard on mobile
* {
  outline: none;
}

