// Typography
$base-font: Arial, Helvetica, sans-serif;
$base-font-size: 16px;

// App
$base-bg: #E8F0EF;
$base-text: #707070;

// Page
$page-header-height: 70px;
$page-footer-height: 80px;
$page-content-padding: 20px;

$global-border-radius: 5px;

// Components:

// Buttons
$btn-primary-gradient-from: #977490;
$btn-primary-gradient-to: #C5A7BF;
$btn-text-icon: #8D6585;
$btn-text: #FFFFFF;

$btn-danger-gradient-from: #AF4646;
$btn-danger-gradient-to: #D87777;

// Button Toggle
$button-toggle-bg: #D1E3E1;
$button-toggle-text: #8DACA9;
$button-toggle-active-bg: #8DACA9;
$button-toggle-active-text: #E6EFEE;

// Input
$input-brd: #D3E0DF;
$input-bg: #FFFFFF;

// Modal
$modal-bg: #E8F0EF;

// Transaction
$transaction-brd: #D3E0DF;
$transaction-bg: #FFFFFF;

// Transaction value
$transaction-value-income: #73A05C;
$transaction-value-expense: #BC5757;

// Transaction overview
$transaction-overview-income-bg: #D7F0CA;
$transaction-overview-expenses-bg: #FBD3D3;
$transaction-overview-total-bg: #E8F0EF;