@import url(~normalize.css);
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
  background-repeat: no-repeat;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: black; }

* {
  outline: none; }

.page {
  padding: 15px; }

.transaction {
  padding: 10px; }

.transaction-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .transaction-list .transaction {
    margin-bottom: 6px; }
    .transaction-list .transaction:last-of-type {
      margin-bottom: 0; }

.fa-plus-circle {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 3px 20px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0); }
