@import url(~normalize.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin-ext");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #4dd0e1;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 1rem;
  color: #000000; }

* {
  outline: none; }

.page {
  padding: 20px;
  background-color: #4dd0e1;
  color: #000000; }
  .page .App-header {
    display: flex;
    justify-content: center; }
  .page .select-option {
    display: flex;
    justify-content: space-around; }
    .page .select-option .select-option-button {
      background-color: #88ffff;
      color: #000000;
      padding: .5rem;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      border-radius: 8px;
      margin: 0; }
  .page .button-add {
    display: flex;
    justify-content: center;
    padding: .2rem;
    margin: 0; }
    .page .button-add .select-option-button {
      height: 50px;
      width: 50px;
      border-radius: 50%; }
    .page .button-add .fa-plus {
      font-size: 1.5rem; }

.transaction {
  padding: 10px; }

.transaction-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .transaction-list ul {
    margin: 1rem;
    padding: 0; }
  .transaction-list .select-option-button {
    background-color: #c75b39;
    color: #000000;
    border: none;
    padding: .5rem;
    height: 35px;
    width: 35px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    border-radius: 8px; }
    .transaction-list .select-option-button .button-add {
      background-color: #88ffff;
      height: 40px;
      width: 40px;
      border-radius: 50%; }
  .transaction-list .transaction {
    margin-bottom: 6px; }
    .transaction-list .transaction:last-of-type {
      margin-bottom: 0; }
