<div class="select-month">
  <label>Current Month:</label>
  <select class="input">
    {{#each months as |month|}}
      <option value="{{ month }}">{{ month }}</option>
    {{/each}}
  </select>
</div>