<div class="transaction-overview">
  <div class="overview-row income">
    Income
    <div class="transaction-value">
      <span class="value value--positive">+ {{ overview.income }}</span>
      <span class="value-currency">CZK</span>
    </div>
  </div>
  <div class="overview-row expenses">
    Expenses
    <div class="transaction-value">
      <span class="value value--negative">- {{ overview.expenses }}</span>
      <span class="value-currency">CZK</span>
    </div>
  </div>
  <div class="overview-row total">
    Total
    <div class="transaction-value">
      <span class="value value--positive">+ {{ overview.total }}</span>
      <span class="value-currency">CZK</span>
    </div>
  </div>
</div>