<div class="transaction-pop-up">
    <h3>Transakce</h3>
    <form>
        <p>Název transakce</p>
        <input type="text" placeholder="Název transakce">
        <p>Částka</p>
        <input type="text" placeholder="Částka">
        <p>Datum</p>
        <input type="datetime-local" name="transaction-daytime">
    </form>
</div>