<div class="select-month">
    <label>Aktuální měsíc:</label>
    <select class="input">
        {{#each months as |month|}}
        <option value="{{ month }}">{{ month }}</option>
        {{/each}}
    </select>
    <p>test</p>
</div>