<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle time-period-selection" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dnešní přehled
        <i class="fas fa-angle-down"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#">Týdenní přehled</a></li>
            <li><a class="dropdown-item" href="#">Měsíční přehled</a></li>
            <li><a class="dropdown-item" href="#">Celkový přehled</a></li>
    </div>
</div>

<!--<p class="time-period-text">Dnešní výdaje</p>
<i class="fas fa-chevron-down"></i>-->