<div class="transaction-filter">
    <a class="toggle-button toggle-button-item">Vše</a>
    <a class="toggle-button toggle-button-item">Příjem</a>
    <a class="toggle-button toggle-button-item">Výdej</a>    
</div>