<div class="transaction-filter">
    <a class="toggle-button toggle-button-item">Denní</a>
    <a class="toggle-button toggle-button-item">Měsíční</a>
    <a class="toggle-button toggle-button-item">Vše</a>    
</div>