<div class="toggle-overview">
    <button type="button" class="toggle">Denní</button>
    <button type="button" class="toggle is-active">Měsíční</button>
    <button type="button" class="toggle">Celkem</button>
</div>