  <h1>Transakce</h1>
    <div class="transaction-type">
        <a class="type-button">VŠE</a>
        <hr>
        <a class="type-button">PŘÍJMY</a>
        <hr>
        <a class="type-button">VÝDAJE</a>
    </div>