<li class="transaction" data-toggle=".transaction-detail">
  <div class="transaction-info">
    <div class="transaction-name">{{ name }}</div>
    <div class="transaction-value">{{ value }}</div>
    <div><span class="value-currency">CZK</span></div>
  </div>
  
  <div class="transaction-detail">
    <div class="transaction-created">{{ dateFormat created }}</div>
    <div class="transaction-edit">
      <button type="button" class="btn btn-edit">
        <i class="fas fa-pencil-alt"></i>
      </button>
      <button type="button" class="btn btn-delete">
        <i class="fas fa-eraser"></i>
      </button>      
    </div>
  </div>
</li>