<div class="transaction-filter">
    <a class="toggle-button toggle-button-item is-active" href="#">Vše</a>
    <a class="toggle-button toggle-button-item" href="#">Příjmy</a>
    <a class="toggle-button toggle-button-item" href="#">Výdaje</a>
    <a class="toggle-button toggle-button-item toggle-icon" href="/overview.html">
        <i class="fas fa-chart-bar"></i>
    </a>
</div>